@import "https://fonts.googleapis.com/css?family=Lato:400,700";

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --header-background: #ffffff;
  --header-text-color: #333333;
  --btn-background: #e74c3c;
  --btn-text-color: #ffffff;
  --card-color: #ffffff;
  --link-color: #333333;
  --div-color: #f37f72;
  --link-hover-color: #e74c3c;
  --section-background-color: linear-gradient(135deg, #333333 0%, #e74c3c 100%);
}

.dark-mode {
  --background-color: #121212;
  --text-color: #ffffff;
  --header-background: #1e1e1e;
  --header-text-color: #ffffff;
  --btn-background: #bb86fc;
  --btn-text-color: #121212;
  --card-color: #bb86fc;
  --link-color: #ffffff;
  --div-color: #8e42eb;
  --link-hover-color: #bb86fc;
  --section-background-color: linear-gradient(135deg, #333333 0%, #bb86fc 100%);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Header Styles */
header {
  background-color: var(--header-background);
  color: var(--header-text-color);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-img {
  max-width: 80px;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-link {
  color: var(--link-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: var(--link-hover-color);
}

.btn {
  background-color: var(--btn-background);
  color: var(--btn-text-color);
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--link-hover-color);
}

/* Hero Section */
#hero {
  background: var(--section-background-color);
  color: #ffffff;
  padding: 5rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

/* Section Styles */
section {
  padding: 5rem 2rem;
  text-align: center;
}

.div-about{
  background-color: var(--div-color);
  color: var(--text-color);
  border-radius: 8px;
  border-color: #1e1e1e;
  padding: 1rem;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.div-about h2{
  padding: 3rem;
}

.div-about p{
  padding: 0.5rem 6rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#about, #classes, #trainers, #contact {
  padding: 5rem 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
  background-color: var(--card-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;
  width: calc(33.333% - 4rem);
  max-width: 320px;
}

.icon img {
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.desc h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.desc p {
  font-size: 1.2rem;
}

#contact form {
  display: flex;
  flex-direction: column;
}

.form-control, .input-textarea {
  padding: 1rem;
  /* font-size: 1.2rem; */
  border: 1px solid #dddddd;
  border-radius: 5px;
}

label{
  padding: 1rem;
}

.input-textarea {
  resize: vertical;
}

/* Footer Styles */
footer {
  background-color: #333333;
  color: #ffffff;
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

footer ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: text-decoration 0.3s ease-in-out;
}

footer ul li a:hover {
  text-decoration: underline;
}


#footer-info {
  flex: 2;
  display: flex;
  justify-content: center;
}

#footer-info ul {
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  /* Make the layout responsive */
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .container {
    flex-direction: column;
  }

  header {
    flex-direction: column;
    /* align-items: flex-start; */
    position:relative;
  }

  .card {
    width: 100%;
    max-width: none;
  }

  .div-about p{
    padding: 0rem;
  }
  h1 {
    font-size: 2.4rem;
  }

  p {
    font-size: 1.2rem;
  }

  .logo-img {
    max-width: 120px;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }

  footer ul {
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
